---
// src/layouts/MainLayout.astro
export interface Props {
  title: string;
}

const { title } = Astro.props;

// Importamos el CSS global de forma correcta (método recomendado por Astro)
import '../styles/global.css';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Diario personal del Camino de Santiago Portugués desde Tui en 6 etapas - Enero 2026" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="/manifest.json">
    <meta name="google-site-verification" content="hI7BR4K-L5KWjmH2yaouJi0X7xLDEw6xmmhx5j6Ibu8" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preload" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"></noscript>
    <link rel="icon" href="/icons/logo.svg" type="image/svg+xml">
    <link rel="icon" href="/icons/favicon.ico" sizes="any" />


<!-- Para Android Chrome -->
<link rel="icon" href="/icons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/icons/favicon-16x16.png" sizes="16x16" type="image/png">

<!-- Para iOS (Apple Touch Icon) -->
<link rel="apple-touch-icon" href="/icons/apple-touch-icon.png" sizes="180x180">
<link rel="apple-touch-icon" href="/icons/favicon-192x192.png">

<!-- Para PWA / Add to Home Screen -->
<link rel="manifest" href="/manifest.json">

    <title>{title} | Nuestro Camino de Santiago 2026</title>
  </head>

  <body>
    <!-- Todo el contenido de las páginas que usen este layout va aquí -->
    <slot />

  </body>
<script is:inline>
  // if ('serviceWorker' in navigator) {
  //   window.addEventListener('load', () => {
  //     navigator.serviceWorker.register('/sw.js').then(reg => {
  //       console.log('Service Worker registered!', reg);
  //     }).catch(err => {
  //       console.error('Service Worker registration failed:', err);
  //     });
  //   });
  // }
  // En tu archivo de entrada (index.js, layout.js o _app.js)
if ('serviceWorker' in navigator) {
  window.addEventListener('load', () => {
    // Asegúrate de que la ruta sea '/sw.js' (con la barra delante)
    navigator.serviceWorker.register('/sw.js')
      .then(reg => console.log('SW registrado', reg))
      .catch(err => console.log('Error al registrar SW', err));
  });
}
</script>
</html>
